<h1>Custom Class and style Directive</h1>

<div [appClass]="{container:true, highlight:true, font:10>8}">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse
    officia nobis adipisci exercitationem quam veniam doloribus id, impedit
    dolorem deserunt enim quisquam repellat odio in saepe veritatis eum
    praesentium.
  </p>
</div>


<div [appStyle]="{backgroundColor: active?'#28282B':'green', color: active?'white':'orange' }">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse
    officia nobis adipisci exercitationem quam veniam doloribus id, impedit
    dolorem deserunt enim quisquam repellat odio in saepe veritatis eum
    praesentium.
  </p>
</div>